$nav-width: 16em;

.app {
  display: flex;
  padding-left: $nav-width;

  .collapsibleMenu {
    background-color: #2d3436;
    color: white;
    min-height: 100vh;
    width: $nav-width;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  main {
    padding: 2em;
    margin: auto;
    max-width: 900px;

    .grid {
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(2, 20em);
      grid-template-rows: 1fr 1fr;
    }
  }
}
