.wrapper {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 1em;
  background-color: #fff;

  h1 {
    margin: 0;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  &.double {
    grid-column: span 2;
  }
}
